:root {
    background-color: aliceblue;
    font-size: 62.5%;
    --lamsadeorange:#E07810;
    --dauphineblue:#2E4791;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: var(--dauphineblue);
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 4.2rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

.container {
    width: 100vw;
    height: max-content;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

/*  UTILITIES  */

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Buttons */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid var(--dauphineblue);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--dauphineblue);
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--dauphineblue);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.grade-container {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    border: 0.1rem solid var(--dauphineblue);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--dauphineblue);
    background-color: white;
}


.grade-line {
    padding: 3rem;
}

.grade-line > input{
    font-size: 2rem;
    text-align: center;
    width: 7rem;
    height: 4rem;
}



.grade-btn {
    font-size: 1.8rem;
    padding: 1rem;
    width: 7rem;
    height: 7rem;
    text-align: center;
    border: 0.1rem solid var(--dauphineblue);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--dauphineblue);
    background-color: white;
}

.grade-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--dauphineblue);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}


.grade-checkbox {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    margin-left: 4rem;
    color: var(--dauphineblue);
    background-color: white;
}


.grade-radio-label {
    font-size: 3rem;
    text-align: center;
    margin-left: 1rem;
    padding-left: 1rem;
    text-decoration: none;
    color: var(--dauphineblue);
}

.gray-text {
    font-size: 2rem;
    text-align: center;
    margin-left: 1rem;
    padding-left: 1rem;
    text-decoration:wavy;
    color: gray
}


.record-top {
    width:10vw;
    padding: 1rem;
}

.record-table {
    width:10vw;
    height: 35vh;
    min-height:35vh;
    font-size: 1.8rem;
    text-align: left;
    padding: 1rem;
    color: var(--dauphineblue);
    background-color: white;
    overflow:scroll;
}

.record-title {
    width:10vw;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem;
    color: var(--dauphineblue);
    background-color: white;
    text-decoration: underline overline;
}

.stat-line {
    color: var(--dauphineblue);
    font-size: 1.6rem;
    margin-top: 1rem;
}